@model _60322_Ivanov_Egor.Models.PageListViewModel<_60322_Ivanov_Egor.DAL.Entities.Product>
@using System.Text;

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div id="List">
    @Html.Partial("_ListPartial", Model);
</div>

@section SidePanel
{
    @Html.Action("Side", "Menu")
}