<div class="row border-bottom-line">
    <div class="nav navbar-left">
        <span class="glyphicon glyphicon-user" /><a href="#" class="navbar-link">Войти</a>
        <span class="glyphicon glyphicon-plus-sign" /><a href="#" class="navbar-link">Зарегистрироваться</a>
    </div>
    <div class="nav navbar-right">
        @Html.Action("CartSummary", "Cart")
    </div>
</div>
